@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FCFCFC; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFFF00; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  [x-cloak]{
    display: none;;
  }